<div class="container" style="width: 50%">
  <p class="font-weight-bold h3">Veuillez vous authentifier :</p>
  <form (ngSubmit)="onSubmit()">
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Login</span>
      </div>
      <input type="text" class="form-control" aria-label="Votre login" aria-describedby="Votre login"
             [(ngModel)]="login" name="login">
    </div>
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Mot de passe</span>
      </div>
      <input type="password" class="form-control" aria-label="Votre mot de passe" aria-describedby="Votre mot de passe"
             [(ngModel)]="password" name="password">
    </div>
    <button type="submit" class="btn btn-outline-secondary" name="submit_button">Connexion</button>
  </form>

</div>
<div class="alert alert-danger mt-3" *ngIf="!isHidden()" role="alert">
  {{this.errorMessage}}
</div>
